

.footer{
    background-color: #F4F4F4;
    .footer__wrapper{
        display: flex;
        padding: 50px 10px;
        .footer__text{
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            color: #474747;
        }
        .icons__list{
            margin-left: 760px;
        }
    }
}