
.sidebar{
    grid-template: 1 / 2;
}

.sidebar__wrapper{
    padding: 5px;
    padding-right: 116px;
}

.sidebar__title{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
}

.sidebar__text{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #474747;
}
.explore{
    position: relative;
    display: flex;
    align-items: center;
    .explore__text{
        width: 70px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #474747;
    }
    .explore__button{
        padding: 4px 6px 7px 6px;
        background-color: #F4F4F4;
        border-radius: 3px;
    }
}
.sidebar__icons{
    margin-top: 14px;
}
.icons{
    .icons__list{
        display: flex;
        .icon__item{
            margin-right: 23px;
            cursor: pointer;
            &:hover{
                opacity: 0.3;
            }
            &:active{
                opacity: 0.7;
            }
        }
        :last-child{
            margin-right: 0;
        }

    }
}
