@page {
    size: A4;
    margin: 1cm;
}
    

@media print{
    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    .sidebar{
        width: 10cm;
        .sidebar__wrapper{
            padding: 1cm;
            .explore{
                display: none;
            }
        }
    }

    .add-comment{
        padding: 1cm;
    }

    header, footer, .add-comment{
        display: none;
    }
    .form__button{
        border: solid #000 1px;
    }
    .add-comment, .coments, .sidebar, .main__content{
        page-break-inside: avoid;
    }
    .content__img{
        display: none;
    }
    .main__container{
        margin-top: 0cm;
    }
    .coment__text{
        margin-right: 1cm;
    }
    p{
        padding-right: 3mm;
        margin-right: 3mm;
    }
}